<div class="row">
  <div class="col">
    <h1>*ngif </h1>
    <hr>
    <div *ngIf="mostrar" class="card text-white bg-danger mb-3" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title"> {{  frase.autor  }}</h5>
        <p class="card-text"> {{  frase.mensaje  }} </p>
      </div>
    </div>
    <button (click)="mostrar = !mostrar" class="btn btn-outline-primary btn-block">
      Mostrar/Ocultar
    </button>
  </div>
  <div class="col">
    <h1>*ngfor</h1>
    <hr>
    <ul class="list-group">
      <ng-container *ngFor="let valor of lista; let i = index; let a = last; let b = first">
        <li [ngClass]="b ? 'hola' : a ? 'fin' : ''" class="list-group-item">{{valor}} Indice: {{i}}</li>
      </ng-container>
      <!-- <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li> -->
    </ul>
  </div>
</div>